<div class="col-md-4 col-xs-offset-1"id="state_data">
  <h3><%= state.name %></h3>
  <p>1) <%= language_info.first.language.name %>: <%= language_info.first.num_speakers%></p>
  <p>2) <%= language_info.last.language.name %>: <%= language_info.last.num_speakers%></p>
</div>
