<div class="state_data">
  <h3><%= state.name %></h3>
  <p><%= language_info.first.language.name %>: <%= language_info.first.num_speakers%></p>
  <p><%= language_info.last.language.name %>: <%= language_info.last.num_speakers%></p>
</div>

